# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env

# Jupyter
.ipynb_checkpoints/

# Sistemas operacionais
.DS_Store
Thumbs.db

# Office
~$*.docx
~$*.xlsx
~$*.pptx

# Saídas locais reproduzidas
images/gerados/
